<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <swiper-container [modules]="swiperModules" [slidesPerView]="1.2" [initialSlide]="1" [centeredSlides]="true"
    [autoplay]="true" [spaceBetween]="20" [pagination]="{clickable:true, dynamicBullets: true}">
    <swiper-slide>
      <img src="../../../../assets/imgs/1.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../../assets/imgs/2.jpg" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../../assets/imgs/3.jpg" />
    </swiper-slide>
  </swiper-container>
  </div>
</ion-content>